<div class="row-fluid">
  <div class="span3">
    <div class="control-group">
      <label class="control-label"></label>
      <legend>Layers</legend>
      <div id="capas" class="controls">
        <label class="radio" for="capasOption1">
          <input type="radio" name="capasOption" id="capasOption1" value="obrasprivadas" checked>
          Obras Privadas
        </label>
        <label class="radio" for="capasOption2">
          <input type="radio" name="capasOption" id="capasOption2" value="usodesuelo" />
        Uso de suelo
        </label>
      </div>
      <div id="capasExtra" class="controls">
        <label class="checkbox">
          <input id="barriosLayer" type="checkbox" value="barrios">
          Barrios
        </label>
        <label class="checkbox">
          <input id="distritosLayer" type="checkbox" value="distritos">
          Distritos
        </label>
        <label class="checkbox">
          <input id="cpcLayer" type="checkbox" value="cpc">
          Zonas de Influencia CPC
        </label>
      </div>
    </div>  
    <div>
      <legend>Polygon Data</legend>
      <div id='tags'></div>
      </dl>
    </div>
  </div>
  
  <div class="span9" id="mapBox">
      <div id="map" class="smallmap"></div>
  </div>
</div>