body {
    padding-top: 60px; 
    /* 60px to make the container go all the way to the bottom of the topbar */
    height: 100%;
}
#mapBox {
	/* padding-bottom: 30px;*/
}
#map {
    height:98%;
    width:100%;
}
#footer .navbar-inner{
    min-height:15px;
}
#footer.navbar .nav > li > a{
    min-height:15px;
    padding:1px 5px 1px;
}


/* Description lists */
dt {
    /* text-transform: capitalize; */
}

dt, dd {
    line-height: 2em;
}

dt {
    background: #f1f1f1;
}

dd {
    background: #f9f9f9;
}

dt > a.remove-tag {
    float:right;
}



/*
Estilos para el panel de edición 
*/
.olControlPanel { 
    position:absolute;
    top:0px;
    right:0px;
    width:  265px;
    height: 32px;
    /* background:rgba(255,255,255,0.6);;*/
}
.olControlPanel div {
    float:right;
    width:  24px;
    height: 22px;
    margin:5px;
    /*background-color:white;*/
}

/* modify */
.olControlPanel .olControlModifyFeatureItemActive { 
  background-image: url("img/move_feature_on.png");
}
.olControlPanel .olControlModifyFeatureItemInactive { 
  background-image: url("img/move_feature_off.png");
}

.olControlPanel .olControlSelectFeatureItemActive { 
  background-image: url("img/pan_on.png");
}
.olControlPanel .olControlSelectFeatureItemInactive { 
  background-image: url("img/pan_off.png");
}

/* polygon */
.olControlPanel .olControlDrawFeaturePolygonItemActive { 
  background-image: url("img/draw_polygon_on.png");
}
.olControlPanel .olControlDrawFeaturePolygonItemInactive { 
  background-image: url("img/draw_polygon_off.png");
}

/* line */
.olControlPanel .olControlDrawFeaturePathItemActive { 
  background-image: url("img/draw_line_on.png");
}
.olControlPanel .olControlDrawFeaturePathItemInactive { 
  background-image: url("img/draw_line_off.png");
}

/* point */
.olControlPanel .olControlDrawFeaturePointItemActive { 
  background-image: url("img/add_point_on.png");
}
.olControlPanel .olControlDrawFeaturePointItemInactive { 
  background-image: url("img/add_point_off.png");
}
