<div class="row-fluid">
  <div class="span3">
    <div class="control-group">
      <label class="control-label"></label>
      <legend>Layers</legend>
      <div id="capas" class="controls">
        <select class="layer">
          <!--<option value="">Select a layer</option>-->
          {{#each layers}}
            <option value="{{filename}}">{{filename}}</option>
          {{/each}}
        </select>
      </div>
      <div id="capas" class="controls">
        <button class="btn new-layer" disabled>New</button>
        <button class="btn btn-primary save-layer">Save</button>
        <!-- <button class="btn export-layer">Export</button> -->
      </div>
      <span>{{layers.selected.filename}}</span>
    </div>  
    <div>
      <legend>Polygon Data</legend>
      <div id="globalTags"></div>

      <div id="tags">
      <span>test</span>
      </div>
      <div class="tagsView"></div>
    </dl>
  </div>
</div>

<div class="span9" id="mapBox">
  <div id="map" class="smallmap"></div>
</div>
</div>