<!DOCTYPE html>
<html lang="es-AR">
  <head>
    <meta charset="utf-8">
    <title>GeoJSON Polygons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="GeoJSON Editor">
    <meta name="author" content="Gastón Avila">
    <link href="/static/stylesheets/css/google.css" rel="stylesheet" type="text/css">
    <link href="/static/stylesheets/css/bootstrap.css" rel="stylesheet">
    <link href="/static/stylesheets/css/main.css" rel="stylesheet" type="text/css">
    <link href="/static/stylesheets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html">GeoJSON Editor</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <!-- <li id="obrasprivadasMenu"><a href="index.html">Layers</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div id="layout" class="container-fluid"></div>
    <div id="app" class="container-fluid">
      <app></app>
    </div>

    <script src="/static/js/lib/OpenLayers/OpenLayers.js"></script>
    {% if config.get('DEBUG') %}
    <script src="http://localhost:2992/editor.js"></script>
    {% else %}
    <script src="/static/dist/editor.js"></script>
    {% endif %}
    <script>
      var filename = {{(layer_id + '.geojson')|tojson}};
      var resourceURL = {{('/api/layers/' + layer_id + '.geojson')|tojson}};
      var app = new GeoJsonEditor({
        filename: filename
      });
    </script>
    <!-- <script src="http://maps.google.com/maps/api/js?v=3.6&sensor=false"></script> -->
    
  </body>
</html>
